{% extends 'registration/account_base.html' %}
{% block title %}Sign in - T-Shirt Shop{% endblock %}
{% block account_icon %}<i class="fas fa-user" aria-hidden="true"></i>{% endblock %}
{% block account_content %}
<h1 id="account-title">Welcome back.</h1>
<p>Sign in to check your orders and find your next favorite.</p>
<form method="post">{% csrf_token %}
{{ form.as_p }}
<input type="hidden" name="next" value="{{ next }}">
<a class="account-back" href="{% url 'password_reset' %}">Forgot your password?</a>
<button type="submit" class="shop-button">Sign in</button>
</form>
<a class="account-back" href="{% url 'shop:signup' %}">New here? Create an account</a>
{% endblock %}
