{% extends 'registration/account_base.html' %}
{% block title %}Reset your password - T-Shirt Shop{% endblock %}
{% block account_content %}
<h1 id="account-title">Forgot your password?</h1>
<p>It happens. Enter the email address you used for your account and we'll send you a reset link.</p>
<form method="post">{% csrf_token %}
{{ form.as_p }}
<button type="submit" class="shop-button">Send reset link</button>
</form>
<a class="account-back" href="{% url 'login' %}">← Back to sign in</a>
{% endblock %}
