{% extends 'registration/account_base.html' %}
{% block title %}Check your email - T-Shirt Shop{% endblock %}
{% block account_content %}
<h1 id="account-title">Check your inbox.</h1>
<p>If an account matches that email address, you'll receive a link to reset your password.</p>
<p class="account-note">Allow a few minutes and check your spam folder. Only accounts with a password can use this reset link.</p>
<a class="shop-button" href="{% url 'login' %}">Back to sign in</a>
<a class="account-back" href="{% url 'password_reset' %}">Try another email address</a>
{% endblock %}
