{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Set New Password - T-Shirt Shop{% endblock %}

{% block content %}
<div class="container">
    <div class="auth-form">
        <h1>Set New Password</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.new_password1.label_tag }}<br>
            {{ form.new_password1 }}
            {{ form.new_password2.label_tag }}<br>
            {{ form.new_password2 }}
            <button type="submit" class="btn-primary" style="margin-top: 15px;">Change Password</button>
        </form>
    </div>
</div>
{% endblock %}